<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{forum.title}}</title>
    {{> script}}
  </head>
  <body>
    <h1>Forum page</h1>

    {{> auth}}

    <input type="hidden" id="owner-id" value="">
    <input type="hidden" id="forum-id" value="">

    <h2>List Forum</h2>
    <ul>
      {{#each forums}}
        <li> <a href="/forum/{{slug}}">{{title}} - By {{user.name}}</a> </li>
      {{/each}}
    </ul>

    <hr>
    <label for="">Title</label><br>
    <input type="text" name="" value="" id="newTitle"><br>
    <label for="">Description</label><br>
    <textarea name="name" id="newDesc" rows="8" cols="80"></textarea><br>
    <button type="button" name="button" onclick="addForum()">Submit Topic</button>
  </body>
</html>
