<button type="button" name="button" onclick="login('gmail')">Login Gmail</button>
<button type="button" name="button" onclick="login('facebook')">Login Facebook</button>
<button type="button" name="button" onclick="login('twitter')">Login Twitter</button>
<button type="button" name="button" onclick="logout()">Logout</button>
<hr>
